@font-face {
    font-family: 'UTMAVO';
    src: url('UTMAVO.TTF');
}

body {
    background-color: #ebddc3;
    font-family: UTMAVO;
    overflow-y: scroll;
    padding-right: 0px;
}

.navbar {
    border-radius: 0;
    border: 0;
}

.navbar-header {
    background-color: #20243F;
    color: white;
}

.navbar-inverse .navbar-collapse {
    background-color: #20243F;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-weight: bold;
}

ul.nav.navbar-nav {
    margin-bottom: -15px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #50597B;
}

.nav>li>a {
    color: white;
}

.nav>li>a:hover {
    background-color: #50597B;
}


/*Modal*/

.modal-content {
    border-radius: 0;
    padding: 0 35px;
    width: 447px;
    height: 370px;
    background-color: white;
    border: 1px solid;
}

.modal-content1 {
    border-radius: 0;
    padding: 0 35px;
    width: 447px;
    height: 500px;
    background-color: white;
    border: 1px solid;
}

.modal-header {
    border: 0;
    padding: 20px 0;
}

.modal-header h3 {
    font-size: 20px;
    margin: 0 0 20px 0;
    float: left;
    text-transform: uppercase;
}

button.close {
    background: black;
    width: 26px;
    height: 26px;
}

span {
    border: 0;
    text-align: center;
}

.modal-body {
    padding: 0px;
}

.modal-body form label {
    display: block;
    color: #8e8e8e;
    padding: 0 0 15px 0;
}

.modal-content .style-input {
    float: left;
    width: 100%;
    height: 50px;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    padding: 0 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #bfbfbf;
    margin: -25px 0 15px 0;
}

.login {
    float: right;
    width: 180px;
    height: 58px;
    background-color: #444444;
    color: white;
    text-transform: uppercase;
    border: 0;
    border-radius: 3px;
}

.create {
    float: left;
    width: 180px;
    height: 58px;
    background-color: #444444;
    color: white;
    text-transform: uppercase;
    border: 0;
    border-radius: 3px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/*Cart*/

ul.dropdown-cart {
    min-width: 250px;
}

ul.dropdown-cart li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
}

ul.dropdown-cart li .item:hover {
    background-color: #50597B;
}

ul.dropdown-cart li .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left {
    float: left;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
    float: left;
}

ul.dropdown-cart li .item-left span.item-info {
    margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
    display: block;
}

ul.dropdown-cart li .item-right {
    float: right;
}

ul.dropdown-cart li .item-right button {
    margin-top: 14px;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #394165;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #50597B;
}

ul.dropdown-cart li .item-left img {
    width: 50px;
}

.color {
    color: white;
}


/*User*/

ul.dropdown-user li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
}

ul.dropdown-user li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
}

.dropdown-menu>li>a:hover {
    background-image: none;
    background-color: #50597B;
}

.user-name {
    color: white;
    font-weight: 500;
}

.user-img {
    width: 100px;
    height: 100px;
}

.img-circle {
    border: 3px solid white;
}


/*Footer*/

.section-footer {
    background-color: #20243F;
    color: white;
}

.section-header {
    background-color: #20243F;
    color: white;
    padding: 15px;
    font-size: 20px;
}

.section-body {
    background-color: #394165;
    font-size: 16px;
}

.best-seller {
    background-color: white;
    float: left;
    width: 100%;
    padding: 10px 0;
}

.heading-1 h2 {
    text-align: center;
}

.box-product {
    margin-right: 15px;
    margin-left: 15px;
}


/*product*/

.rating {
    text-align: center;
}

.price {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pre-price {
    text-decoration: line-through;
    text-align: center;
}

.book-name {
    line-height: 2.5ex;
    height: 7.5ex;
    overflow: hidden;
    text-align: center;
}

.panel {
    max-height: 50%;
    border-radius: 0px;
}

.img-responsive {
    max-width: 100%;
    max-height: 100%
}

.panel-footer {
    text-align: center;
    background: white;
    padding: 10px;
    margin-top: -10px;
}

.book-thumbnail {
    width: 150px;
    height: 215px;
}

.panel {
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}


/*detail*/

img {
    max-width: 100%;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.product-title,
.price,
.sizes,
.colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.checked,
.price span {
    color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    margin-left: 40px;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

.color:first-of-type {
    margin-left: 20px;
}

.add-to-cart,
.like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.add-to-cart:hover,
.like:hover {
    background: #b36800;
    color: #fff;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
}

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
}

.nav-tabs>li>a {
    border: none;
    color: #ffffff;
    background: rgb(255, 159, 26);
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: none;
    color: rgb(255, 159, 26);
    background: #fff;
}

.nav-tabs>li>a::after {
    content: "";
    background: rgb(255, 159, 26);
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
    color: rgb(255, 159, 26);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.tab-nav>li>a::after {
    background: #5a4080 none repeat scroll 0% 0%;
    color: rgb(255, 159, 26);
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.nav-tabs>li {
    width: 20%;
    text-align: center;
}

.aroud {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

@media all and (max-width:724px) {
    .nav-tabs>li>a>span {
        display: none;
    }
    .nav-tabs>li>a {
        padding: 5px 5px;
    }
}

#informations>div>table>tbody>tr>th {
    width: 150px;
    font-weight: 700;
    padding: 8px;
    border-top: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, .1);
    margin: 0;
    line-height: 1.5;
}


/*Comment*/


/*font Awesome http://fontawesome.io*/

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/*Comment List styles*/

.comment-list .row {
    margin-bottom: 0px;
}

.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border: none;
    /*Panel-heading border radius*/
    border-top-right-radius: 0px;
    top: 1px;
}

.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius: 0px;
    right: 16px;
}

.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}

.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}


/* Portrait tablets and medium desktops */

@media (min-width: 768px) {
    .comment-list .arrow:after,
    .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    .comment-list .panel.arrow.left:after,
    .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        /*Change for different outline color*/
        border-right-color: #FFFFFF;
        border-width: 15px;
    }
    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 16px;
    }
    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 15px;
    }
}

.comment-list .comment-post {
    margin-top: 6px;
}


/*Add comment*/

#commentform {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

#comment {
    width: 100%;
}

#author {
    width: 100%
}

#email {
    width: 100%
}

input[type=submit] {
    background-color: #4CA2F0;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}


/*Profile*/

.panel-profile {
    background-color: #20243F;
    height: 170px;
}

.profile-title {
    color: white;
    font-weight: 400;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
}

.form-control {
    font-weight: 600;
}

.controls {
    width: 80%;
    padding-left: 90px;
}

.btn {
    margin-left: 15px;
    margin-bottom: 15px;
}

.pageAc {
    padding-bottom: 25px;
}

.profile {
    padding: 20px;
}

.profile-userpic {
    display: inline-block;
    width: 100px;
    height: 100px;
}


/*Đơn hàng*/

.table>thead:first-child>tr:first-child>th {
    color: white;
    font-weight: 400;
}


/*Wishlist*/


/*listbook*/

.list-title {
    color: white;
    font-weight: 400;
}

.card {
    /*padding: 3em;*/
    line-height: 1.5em;
}

.table-hover>tbody>tr:hover {
    background-color: #50597B;
}


/*detail*/

.picture {
    padding: 1em;
}

.detail-title {
    color: white;
    font-weight: 550;
}

.detail-author {
    color: white;
    font-size: 14px;
}

.detail-price {}

.short-description {
    color: white;
    font-size: 14px;
}

.reviews {
    background-color: white;
    color: black;
    margin: 20px;
}

.avatar {
    width: 60px;
    height: 60px;
    padding-top: 15px;
}

.rating {
    color: black;
}

.rate>span {
    outline: none;
}

.glyphicon-star {
    color: #fbc02d;
}

.media-heading {
    font-weight: bold;
}

.text-left {
    padding-top: 10px;
}

.comment {
    color: black;
    padding: 25px;
}

.btn-comment {
    margin-left: 0px;
    margin-bottom: 0px;
}

.form-detail {
    padding-left: 0px;
    padding-right: 0px;
}

.page-detail {
    padding-top: 15px;
    padding-bottom: 15px;
}

.title-detail {
    color: white;
    margin-bottom: 10px;
}

.table-detail {
    float: right;
    color: white;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #50597B;
}


/*paging*/

.paging {
    float: right;
    margin-right: 12px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 600;
}


/*modal-delete*/

.delete-confirm {
    width: 400px;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 100px;
}

.delete-title {
    font-weight: bold;
}

.modal-backdrop.in {
    display: none
}

div#modalSingin {
    overflow-y: auto;
}

body.ng-scope.modal-open {
    overflow: auto;
    padding-right: 0px!important;
}


/*bill*/

.imgBill {
    width: 100px;
    height: 147px;
    text-align: center;
}

.titleBill {
    color: white;
}

.priceBill {
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-bill {
    margin-top: 15px;
}

.pageBill {
    margin-left: 0px;
    margin-right: 0px;
}

.btnBill {
    margin-left: 0px;
    margin-bottom: 0px;
}

.panel-bill {
    padding-top: 15px;
}

.price-bill-total {
    color: black;
    font-size: 18px;
    font-weight: bold;
    float: right;
}

.box-bill {
    border-bottom: 0.5px solid gray;
}


/*genre*/

.title-genre {
    color: white;
    text-align: center;
    padding-left: 40px;
    padding-bottom: 0px;
    padding-right: 40px;
    padding-top: 40px;
    font-size: 20px;
}

.title-genre1 {
    color: white;
    text-align: center;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-top: 0px;
    font-size: 20px;
}


/*orders*/

caption.ng-binding {
    color: greenyellow;
}

.table>caption+thead>tr:first-child>th {
    color: white;
    font-weight: 400;
}

td.priceBill.ng-binding {
    padding-top: 15px;
}

.orders {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

th.total {
    color: white;
    font-weight: 400;
    padding-top: 15px;
}

.priceTotal {
    color: greenyellow;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-order {
    font-size: 16px;
    color: white;
}


/*user order*/

.user-order {
    padding: 15px;
}


/*contacts*/

.title-contact {
    color: white;
    font-size: 18px;
}

.contact {
    padding: 15px;
    margin-top: 0px;
}

.title-contact2 {
    color: greenyellow;
}

.form-contact {
    width: 425px;
}

.allbook {
    color: white;
    padding-left: 13px;
}

button.btn-default.btn-sm {
    margin-left: 0px;
    margin-bottom: 0px;
}