<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/textAngular.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-rangy.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.min.js'></script>
</head>

<body ng-app="myApp" ng-controller="bookCtrl" ng-init="getGenres() ; init();loadLogin()">
    <!--Menu-->
    <nav class=" navbar navbar-inverse ">
        <div class="container-fluid ">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				          	<span class="icon-bar "></span>
					<span class="icon-bar "></span>
					<span class="icon-bar "></span> 
		      		</button>
                    <a class="navbar-brand " href="# ">BOOK STORE 85</a>
                </div>
                <div class="collapse navbar-collapse " id="myNavbar">
                    <ul class="nav navbar-nav ">
                        <li><a href="#/ ">TRANG CHỦ</a></li>
                        <li><a href="# ">GIỚI THIỆU</a></li>
                        <li><a href="# ">LIÊN HỆ</a></li>
                        <li><a href="#/admin ">ADD BOOK</a></li>
                        <form class="navbar-form navbar-right " role="search" ng-submit="submitSearch()">>
                            <div class="input-group ">
                                <input type="text " ng-model="text" class="form-control search-text " placeholder="Tìm kiếm ">
                                <div class="input-group-btn ">
                                    <button class="btn btn-default " type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                       </button>
                                </div>
                            </div>
                        </form>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> CART <span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-cart ">
                                <li>
                                    <span class="item">
                                           <span class="item-left">
                                               <img src="http://lorempixel.com/50/50/" alt="">
                                               <span class="item-info">
                                                   <span>Item name</span>
                                    <span>23$</span>
                                    </span>
                                    </span>
                                    <span class="item-right">
                                             <button class="btn btn-xs btn danger pull-right">x</button>
                                </span>
                                    </span>
                                </li>
                                <li>
                                    <span class="item">
                                           <span class="item-left">
                                               <img src="http://lorempixel.com/50/50/" alt="">
                                               <span class="item-info">
                                                   <span>Item name</span>
                                    <span>23$</span>
                                    </span>
                                    </span>
                                    <span class="item-right">
                                             <button class="btn btn-xs btn danger pull-right">x</button>
                                </span>
                                    </span>
                                </li>
                                <li>
                                    <span class="item">
                                           <span class="item-left">
                                               <img src="http://lorempixel.com/50/50/" alt="">
                                               <span class="item-info">
                                                   <span>Item name</span>
                                    <span>23$</span>
                                    </span>
                                    </span>
                                    <span class="item-right">
                                             <button class="btn btn-xs btn danger pull-right">x</button>
                                </span>
                                    </span>
                                </li>
                                <li class="divider"></li>
                                <li><a href=""><span>View Cart</span></a></li>
                            </ul>
                        </li>
                        <li class="dropdown" ng-show="isLogged()"><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-user"></span> {{user.name}}</a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a class="item" href="#/customer/account/edit"><span>Tài khoản của tôi</span></a></li>
                                <li><a class="item" href="#/sales/order"><span>Đơn hàng của tôi</span></a></li>
                                <li><a class="item" href="#/customer/wishlist"><span>Danh sách yêu thích</span></a></li>
                                <li><a class="item" href="" ng-click="logOut()"><span>Thoát tài khoản</span></a></li>
                            </ul>
                        </li>
                        <li ng-hide="isLogged()" data-toggle="modal" data-target="#modalSigin"><a class=""><span class="glyphicon glyphicon-log-in"></span> LOGIN</a>
                        </li>
                        <!--modal login-->
                        <div class="modal fade" id="modalSigin" role="dialog" ng-hide="isLogged()">
                            <div class="modal-dialog modal-sm ">
                                <div class="modal-content ">
                                    <div class="modal-header ">
                                        <h3>Đăng nhập</h3>
                                        <button class="close " type="submit" data-dismiss="modal"><span>x</span></button>
                                    </div>
                                    <div class="modal-body ">
                                        <form ng-submit="summitLogin()" method="post ">
                                            <div class="outer-input ">
                                                <label><i class="glyphicon glyphicon-user "></i>Email</label></br>
                                                <input ng-model="loginUser.email" class="style-input " type="text " name="username" />
                                            </div>
                                            <div class="outer-input ">
                                                <label><i class="glyphicon glyphicon-lock "></i>Password</label></br>
                                                <input ng-model="loginUser.password" class="style-input" type="password" />
                                            </div>
                                            <button class="login" type="submit">Đăng nhập</button>
                                            <button type="button" class="create" data-toggle="modal" data-target="#myModal2" data-dismiss="modal">CREATE NEW ACCOUNT</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end login-->
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--modalCreate-->
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog modal-sm ">
            <div class="modal-content1 ">
                <div class="modal-header ">
                    <h3>CREATE NEW ACCOUNT</h3>
                    <button class="close " type="button " data-dismiss="modal"><span>x</span></button>
                </div>
                <div class="modal-body ">
                    <form ng-submit="summitSignup()" method="post" class="form-signup">
                        <div class="form-group">
                            <input ng-model="signUpUser.name" type="text" name="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input ng-model="signUpUser.email" type="email" name="email" class="form-control " placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" name="display_name" class="form-control " placeholder="Mobile No.">
                        </div>
                        <div class="form-group">
                            <input ng-model="signUpUser.password" type="password" name="password" class="form-control " placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input ng-model="signUpUser.password" type="password" name="password_confirmation" class="form-control " placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <input ng-model="signUpUser.avatarUrl" type="text" name="avatarUrl" class="form-control " placeholder="Avatar Url">
                        </div>
                        <div class="checkbox">
                            <label>
                                    <input type="checkbox" >
                                   I agree
                                </label>
                        </div>
                        <button class="login " type="submit ">SINGUP</button>
                        <button class="create" data-toggle="modal" data-target="#myModal1">REGISTER</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--endCreate-->
    <!--End menu-->
    <div ng-view></div>
    <!--Footer-->
    <footer class="container-fluid section-footer ">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-sm-4 ">
                    <div>
                        <a href="# "><img src="http://techlinqs.com/wp-demo/ebooks/wp-content/uploads/2016/08/logo-2-1.png " width="182 " height="62 " class="logo-footer "></a>
                        <p>Find out how to prepare your book for an editor with these 4 writing tips! The editing process can be a wonderful opportunity for writers.</p>
                        <span><i class="glyphicon glyphicon-home "></i> 888 South Avenue Street, New York City.</span></br>
                        <span><i class="glyphicon glyphicon-phone "></i> +86-98 5352 687</span></br>
                        <span><i class="glyphicon glyphicon-envelope "></i><a href="ainhu8596@gmail.com "> ainhu8596@gmail.com</a></span>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div>
                        <h4>INFORMATION</h4>
                        <p>About us</p>
                        <p>Customer Service</p>
                        <p>Privacy Policy</p>
                        <p> Blog</p>
                        <p>Site Map</p>
                        <p>Order or Return</p>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div>
                        <h4>NEWSLETTER</h4>
                        <input type="text " class="form-control " placeholder="Your email "></br>
                        <button class="btn btn-danger " type="button ">Submit</button>
                        <h4>FOLLOW US</h4>
                        <button class="btn btn-default btn-just-icon ">
						<a href=" "><i class="fa fa-twitter "></i></a>
					</button>
                        <button class="btn btn-default btn-just-icon ">
						<a href=" "><i class="fa fa-facebook-square "></i></a>
					</button>
                        <button class="btn btn-default btn-just-icon ">
						<a href=" "><i class="fa fa-instagram "></i></a>
					</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center ">
        © 2017 Copyright: <a href="# "> Bookstore.com </a>

    </div>
    </footer>
    <!--End footer-->
    <script src="app.js "></script>
    <script src="controllers/books.js "></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

</body>