<div class="container pageAc">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel-profile">
                <div class="profile text-center">
                    <div class="profile-userpic">
                        <img ng-src="{{user.avatarUrl}}" class="img-circle img-raised img-responsive user-img" alt="">
                    </div>
                    <h4 class="user-name text-center">{{user.name}}</h4>
                </div>
            </div>
            <div class="section-body">
                <div class="panel-body">
                    <ul class="nav">
                        <li><a href="#/customer/account/edit">Thông tin tài khoản</a></li>
                        <li><a href="#/sales/order">Quản lý đơn hàng</a></li>
                        <li><a href="#/customer/wishlist">Sản phẩm yêu thích</a></li>
                        <li><a href="" ng-click="logOut()">Thoát tài khoản</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="section-header">
                <div>Thông tin tài khoản</div>
            </div>
            <div class="section-body">
                <form name="acEdit" class="form form-vertical" ng-submit="updateUsers()" novalidate>
                    <div class="control-group">
                        <label class="profile-title">Họ tên:</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="user.name" ng-required="true" placeholder="Enter Title">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Password:</label>
                        <div class="controls">
                            <input type="password" name="passwordcurrent" ng-model="user.currentPassword" class="form-control " minlength="5" placeholder="Password" ng-required="true">
                            <p ng-show="acEdit.passwordcurrent.$invalid && !acEdit.passwordcurrent.$pristine" class="text-danger"> Password không hợp lệ - Ít nhất 5 ký tự</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Password mới:</label>
                        <div class="controls">
                            <input type="password" name="password" ng-model="user.password" class="form-control " minlength="5" placeholder="Password mới" ng-required="true">
                            <p ng-show="acEdit.password.$invalid && !acEdit.password.$pristine" class="text-danger"> Password không hợp lệ - Ít nhất 5 ký tự</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Nhập lại password:</label>
                        <div class="controls">
                            <input type="password" name="passwordConfirm" ng-model="passwordConfirm" compare-to="user.password" class="form-control " placeholder="Nhập lại password" ng-required="true">
                            <p ng-show="acEdit.passwordConfirm.$invalid && !acEdit.passwordConfirm.$pristine" class="text-danger"> Password không trùng</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Avatar</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="user.avatarUrl" ng-required="true" placeholder="Enter Title">
                        </div>
                    </div>

                    <!--<div class="control-group">
                        <label class="profile-title">Email:</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="user.userEmail" placeholder="Enter Title">
                        </div>
                    </div>-->
                    <!--<div class="control-group">
                        <label class="profile-title">Giới tính</label>
                        <div class="controls">
                            <input type="radio" value="Nữ" ng-model="users.userSex" /><span> Nữ</span>
                            <input type="radio" value="Nam" ng-model="users.userSex" /><span> Nam</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Địa chỉ:</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="users.userHome" ng-required="true" placeholder="Enter Title">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Số điện thoại:</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="users.userPhone" ng-required="true" >
                        </div>
                    </div>-->
                    <!--<label class="profile-title"><input type="checkbox" ng-model="checked">  Thay đổi mật khẩu</label>
                    <div ng-show="checked">
                        <div class="control-group">
                            <label class="profile-title">Mật khẩu cũ:</label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-required="true" ng-model="user.password" placeholder="Enter Title">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="profile-title">Mật khẩu mới:</label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-required="true" placeholder="Enter Title">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="profile-title">Nhập lại</label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-required="true" placeholder="Enter Title">
                            </div>
                        </div>
                    </div>-->
                    </br>
                    <button type="submit" class="btn btn-danger">Cập nhật</button>
                </form>
            </div>
        </div>
    </div>
</div>