<div class="container pageAc">
    <div class="row">
        <div class="col-sm-3">
            <div class="section-header">
                <div>Admin</div>
            </div>
            <div class="section-body">
                <div class="panel-body">
                    <ul class="nav">
                        <li><a href="#/admin/addbook">Thêm sách</a></li>
                        <li><a href="#/admin">Quản lý sách</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="section-header">
                <div>Thêm sách</div>
            </div>
            <div class="section-body">
                <form name="addForm" class="form form-vertical" ng-submit="addBook()">
                    <div class="control-group">
                        <label class="profile-title">Tên sách</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="book.title" ng-required="true" placeholder="Enter Title" name="title">
                            <p ng-show="addForm.title.$invalid && !addForm.title.$pristine" class="text-danger">Xin vui lòng điền tiêu đề</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Tác giả</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="book.author" ng-required="true" placeholder="by Jamel" name="author">
                            <p ng-show="addForm.author.$invalid && !addForm.author.$pristine" class="text-danger">Xin vui lòng điền tác giả</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Nhà sản xuất</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="book.publisher" placeholder="publisher">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Số trang</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="book.pages" placeholder="Pages">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Khối lượng (g)</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="book.weight">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Chiều ngang (mm)</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="book.size.width">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Chiều dọc (mm)</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="book.size.depth">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Mã SKU</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="book.sku" ng-required="true" placeholder="Mã SKU" name="sku">
                            <p ng-show="addForm.sku.$invalid && !addForm.sku.$pristine" class="text-danger"> Chưa điền mã Sku</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Mô tả ngắn</label>
                        <div class="controls">
                            <div text-angular ng-model="book.shortDescription"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Mô tả chi tiết</label>
                        <div class="controls">
                            <div text-angular ng-model="book.fullDescription"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Hình chính</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="book.images.main" placeholder="Main Image">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Hình 1</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="book.images.first" placeholder="Frist Image">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Hình 2</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="book.images.second" placeholder="Second Image">
                        </div>
                    </div>
                    <div class="control-group" ng-init="getGenres()">
                        <label class="profile-title">Thể loại</label>
                        <div class="controls">
                            <select ng-model="book.genre" ng-required="true" class="form-control" ng-options="genre as genre.name for genre in genres">
                          <!--<option ng-repeat="genre in genres" value="{{genre._id}}">{{genre.name}}</option>-->
                        </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Giá gốc </label>
                        <div class="controls">
                            <input type="number" class="form-control" ng-model="book.reviousPrice" min="0" placeholder="Giá gốc">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Giá đã giảm</label>
                        <div class="controls">
                            <input type="number" class="form-control" ng-model="book.sellingPrice" min="0" placeholder="Giá đã giảm">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Ngày sản xuất</label>
                        <div class="controls input-group">
                            <input class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="book.releaseDate" is-open="popup2.opened" popup-placement="top" datepicker-options="" close-text="Close">
                            <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-md" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="profile-title">Ngày đăng sách</label>
                        <div class="controls input-group">
                            <input class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="CreateDate" is-open="popup1.opened" popup-placement="top" datepicker-options="" close-text="Close">
                            <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-md" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger" ng-disabled="postForm.$invalid">Submit</button>
                    <a href="#admin" class="btn btn-default">Trở về</a>
                </form>
            </div>
        </div>
    </div>
</div>
</div>