<div class="container pageAc" ng-controller="bookCtrl" ng-init="getBook()">
    <div class="row">
        <div class="col-sm-3">
            <div ng-show="genres.length>0">
                <div class="section-header">DANH MỤC</div>
                <div class="section-body">
                    <div class="panel-body">
                        <ul ng-repeat="genre in genres" class="nav">
                            <li><a href="#/books/genre/{{genre._id}}">{{genre.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row section-body">
                <div class="col-sm-4">
                    <div class="picture"><img ng-src={{book.images.main}} /></div>
                </div>
                <div class="col-sm-8">
                    <h3 class="detail-title">{{book.title}}</h3>
                    <!--<span>Rating</span>-->
                    <div class="detail-author">Tác giả: <a href="">{{book.author}}</a></div>
                    <h5 class="text-danger"><del>{{book.previousPrice|currency:"$":0}} </del> </h5>
                    <h5 class="detail-author">{{book.sellingPrice|currency:"$":0}}</h5>
                    <p class="detail-author"> Tiết kiệm :{{book.previousPrice-book.sellingPrice|currency:"$":0}}</p>
                    <h5 class="detail-author">Giới thiệu: </h5>
                    <div class="full-description" ng-model="book.fullDescription" ta-bind="text"></div>
                </div>
            </div>
        </div>
    </div>
</div>