<div class="container pageAc">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel-profile">
                <div class="profile text-center">
                    <div class="profile-userpic">
                        <img ng-src="{{user.avatarUrl}}" class="img-circle img-raised img-responsive user-img" alt="">
                    </div>
                    <h4 class="user-name text-center">{{user.name}}</h4>
                </div>
            </div>
            <div class="section-body">
                <div class="panel-body">
                    <ul class="nav">
                        <li><a href="#/customer/account/edit">Thông tin tài khoản</a></li>
                        <li><a href="#/sales/order">Quản lý đơn hàng</a></li>
                        <li><a href="#/customer/wishlist">Sản phẩm yêu thích</a></li>
                        <li><a href="" ng-click="logOut()">Thoát tài khoản</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9" ng-init="getUserOder()">
            <div class="section-header">
                <div>Quản lý đơn hàng</div>
            </div>
            <div class="section-body user-order">
                <div ng-repeat="order in orders">
                    <table class="table table-bordered table-hover text-center ">
                        <thead>
                            <tr>
                                <th class=" ">Tên sản phẩm</th>
                                <th class="">Đơn giá</th>
                                <th class="">Số lượng</th>
                                <th class="">Thành tiền</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in order.books">
                                <td>
                                    <h4 class="title-order">{{item._book.title}}</h4>
                                </td>
                                <td class="priceBill ">{{item.price|currency:"$":0}}</td>
                                <td class="priceBill">{{item.quantity}}</td>
                                <td class="priceBill ">{{item.price*item.quantity| currency:"$":0}}</td>

                            </tr>
                            <tr>
                                <th colspan="3" class="total">Tổng tiền </th>
                                <td colspan="2" class="priceTotal">{{order.total|currency:"$":0}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </br>
                </div>
            </div>
        </div>
    </div>